@import './p-week-list.scss';
@import './p-date-list.scss';
@import './p-date-month-list.scss';
@import './p-collapse-bar.scss';
.p-calendar{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display:flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	.van-swipe{
		width: 100%;
		.van-swipe__track{
			width: 100%;
		}
	}
	.p-month-list{
		height: 100%;
		display: flex;
		flex-direction: column;
		.van-swipe{
			flex-grow: 1;
			height: 100%;
			.p-date-month-list{
				height: 100%;
			}
		}
	}
	.p-date-list.collapse{
		.van-swipe{
			// transition: .5s;
			height: 40px;
		}
	}
	.p-date-list.not-collapse{
		.van-swipe{
			// transition: .5s;
			height: 240px; 
		}
	}
}