$screenWidth:100;
$cellCount:7;
@keyframes active-show{
	0%{opacity: 0;transform: scale(0.6);}
	10%{opacity: 0.1;transform: scale(1);}
	30%{opacity: 0.5;transform: scale(1.2);}
	50%{opacity: 0.7;transform: scale(1);}
	70%{opacity: 1;transform: scale(1.1);}
	100%{opacity: 1;transform: scale(1);}
}
.p-date-list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	.p-date-list-item{
		text-align: center;
		font-size: 12px;
		width: #{$screenWidth/$cellCount}#{'%'};
		
		.p-date-list-item-container{
			position: relative;
			margin: auto;
			text-align: center;
			width:40px;
			height: 40px;
			border-radius: 50%;
			.p-date-list-item-date{
				padding-top: 2px;
			}
			.p-date-list-item-date-cn{
				font-size: 9px;
				color:#999;
			}
		}
		.p-date-list-item-container.not-this-month{
			color: #999;
		}
		.p-date-list-item-container.today:after{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: block;
			content: '.';
			background-color:rgba(198, 226, 255,0.7);
		}
		.p-date-list-item-container.active:after{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: block;
			content: '.';
			color: rgba(0,0,0,0);
			background-color: #409EFF;
			animation-name: active-show;
			animation-duration: 0.4s;
		}
		.p-date-list-item-container.today{
			color: #409EFF;
			.p-date-list-item-date-cn{
				color: #409EFF;
			}
		}
		.p-date-list-item-container.active{
			color: #fff;
			.p-date-list-item-date-cn{
				color: #fff ;
			}
		}
		
	}
	.p-date-list-month{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -2;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(198, 226, 255,0.7);
		font-weight: bold;
		font-size: 190px;
	}
}